[cluster myriacluster]
KEYNAME = AWSKey
CLUSTER_SIZE = 2
NODE_INSTANCE_TYPE = t1.micro
SPOT_BID = 0.0035
DISABLE_QUEUE=True

PLUGINS = postgresplugin, myriaplugin
CLUSTER_USER = myriaadmin
DNS_PREFIX = True
NODE_IMAGE_ID = ami-765b3e1f
PERMISSIONS = rest

[permission rest]
# this has to be the same as REST_PORT
IP_PROTOCOL = tcp
FROM_PORT = 8753
TO_PORT = 8753

[plugin postgresplugin]
SETUP_CLASS = postgresplugin.PostgresInstaller
PORT = 5401

[plugin myriaplugin]
SETUP_CLASS = myriaplugin.MyriaInstaller
POSTGRES_PORT = 5401

#DBMS=sqlite
#PATH=/tmp/myria
#HEAP=-Xmx2g 
#REST_PORT=8753
#MASTER_PORT=8001
#WORKER_PORT=9001
#ADDITIONAL_PACKAGES=yum
#REPOSITORY=https://github.com/uwescience/myria.git
#INSTALL_DIRECTORY=~/myria
#DATABASE_PASSWORD=myriaisawesome
